<button
  [type]="type"
  [ngClass]="{
    'lca-button': true,
    'lca-button-primary': lcaStyle === 'primary',
    'lca-button-secondary': lcaStyle === 'secondary',
    'lca-button-danger': lcaStyle === 'danger',
    'lca-button-success': lcaStyle === 'success',
    'lca-button-warning': lcaStyle === 'warning',
    'lca-button-info': lcaStyle === 'info',
    'lca-button-full-width': fullWidth,
    'lca-button-loading': isLoading
  }"
  [disabled]="disabled || isLoading"
  (click)="onClick($event)">
  <span *ngIf="!isLoading"><ng-content></ng-content></span>
  <span *ngIf="isLoading" class="lca-button-spinner"></span> <!-- Simple spinner or text -->
</button>