<div class="global-search-container">
  <app-lca-select
    class="search-type-select"
    [options]="searchTypeOptions"
    [ngModel]="selectedSearchType"
    (ngModelChange)="onSearchTypeChange($event)">
  </app-lca-select>

  <app-lca-auto-complete
    #autoComplete
    class="search-input-autocomplete"
    placeholder="Search {{selectedSearchType}}s..."
    [items]="(autocompleteItemsSource$ | async) ?? []"
    [displayProperty]="getAutocompleteDisplayProperty()"
    [valueProperty]="getAutocompleteValueProperty()"
    [(ngModel)]="searchQueryForDisplay"
    (itemSelected)="onSuggestionSelectedFromAutocomplete($event)"
    (inputTextChanged)="onSearchInputChanged($event)"
    [serverSideFiltering]="true"
    [minLength]="0"
    [noResultsText]="isLoadingList ? 'Loading list...' : 'No matching ' + selectedSearchType + 's found in current list'">
  </app-lca-auto-complete>

  <app-lca-button 
    lcaStyle="primary" 
    (lcaClick)="expandSearch()" 
    class="expand-search-button">
    View All
  </app-lca-button>
</div>